/* HomePage Templates Styling */
.home .template {
    margin: 20px;
    box-shadow: 0 0 5px grey !important;
    text-align: center;
    padding: 15px;
    position: relative;
}
.home .template .text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    font-size: large;
}
.home .template .text:hover {
    background-color: black;
    opacity: 0.8;
    columns: white !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.home .template button {
    background-color: rgba(252, 215, 7, 0.993) !important;
    color: black !important;
    font-size: 15px !important;
    padding: 0 20px;
    align-items: center;
    position:inherit;
    
}







/* template1 styling */
.template1-parent {
    color: rgba(0, 0, 0, 0.0.699) !important;
    padding: 50px
 }
.template1-parent h1 {
    color: rgba(0, 0, 0, 0.0.699) !important;
    font-size: 40px;
    font-weight: bold;
}

.template1-parent p {
   padding-top: 0 !important;
   margin-bottom: 0 !important;
   margin-top: 2px !important;
   font-size: 16px !important;
}
.template1-parent h3 {
    font-size: 22px ;
    font-weight: bold;
    margin-top: 2px;
}
.template1-parent h6 {
    margin: 0 !important;
    padding: 0 !important;
}
.divider {
    width: 100%;
    height: 2px;background-color: grey;
    margin-bottom: 1px !important;

}

